<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1877799');
</script>
<!-- End MailerLite Universal -->

<div class="flex flex-col sm:flex-row gap-2 l-ui-utility--mt-md">
  <%= link_to "https://www.layered.ai/", target: "_blank", rel: "noopener noreferrer", class: "l-ui-button l-ui-button--outline" do %>
    <%= image_tag "layered_ui/icon_globe.svg", class: "l-ui-icon--sm", alt: "" %> Website
  <% end %>

  <%= link_to "https://github.com/layered-ai-public/layered-resource-rails", target: "_blank", rel: "noopener noreferrer", class: "l-ui-button l-ui-button--outline" do %>
    <%= image_tag "layered_ui/icon_github.svg", class: "l-ui-icon--sm", alt: "" %> GitHub
  <% end %>

  <%= link_to "https://www.youtube.com/@UseLayeredAi", target: "_blank", rel: "noopener noreferrer", class: "l-ui-button l-ui-button--outline" do %>
    <%= image_tag "layered_ui/icon_youtube.svg", class: "l-ui-icon--sm", alt: "" %> YouTube
  <% end %>

  <%= link_to "https://discord.gg/aCGqz9Bx", target: "_blank", rel: "noopener noreferrer", class: "l-ui-button l-ui-button--outline" do %>
    <%= image_tag "layered_ui/icon_discord.svg", class: "l-ui-icon--sm", alt: "" %> Discord
  <% end %>

  <%= link_to "https://x.com/UseLayeredAi", target: "_blank", rel: "noopener noreferrer", class: "l-ui-button l-ui-button--outline" do %>
    <%= image_tag "layered_ui/icon_x.svg", class: "l-ui-icon--sm", alt: "" %> X
  <% end %>

  <%= link_to "https://www.linkedin.com/company/uselayeredai/", target: "_blank", rel: "noopener noreferrer", class: "l-ui-button l-ui-button--outline" do %>
    <%= image_tag "layered_ui/icon_linkedin.svg", class: "l-ui-icon--sm", alt: "" %> LinkedIn
  <% end %>

  <button type="button" class="ml-onclick-form l-ui-button l-ui-button--outline" onclick="ml('show', 'CbhpAg', true)">
    <%= image_tag "layered_ui/icon_mail.svg", class: "l-ui-icon--sm", alt: "" %> Newsletter
  </button>
</div>
