<% turbo_frame_name = "managed_#{@managed_route_key}" %>
<% singular_key = @managed_route_key.singularize %>

<div class="l-ui-container--spread">
  <div>
    <%= l_ui_breadcrumbs do %>
      <%= l_ui_breadcrumb_item "Home", root_path %>
      <% managed_breadcrumbs.each do |crumb| %>
        <%= l_ui_breadcrumb_item crumb[:label], crumb[:path] %>
      <% end %>
    <% end %>

    <h1 class="l-ui-heading">
      <%= @model.model_name.human.pluralize %>
    </h1>
  </div>

  <% if @can_create %>
    <%= link_to "New",
          managed_routes.send(:"new_managed_#{singular_key}_path"),
          class: "l-ui-button l-ui-button--primary" %>
  <% end %>
</div>

<%= turbo_frame_tag turbo_frame_name, data: { turbo_action: "advance" } do %>
  <% if @resource.search_fields.any? %>
    <%= l_ui_search_form(@q,
          url: managed_routes.send(:"managed_#{@managed_route_key}_path"),
          fields: @resource.search_fields,
          clear: true,
          turbo_frame: turbo_frame_name) %>
  <% end %>

  <% actions_proc = if @can_update || @can_destroy
    ->(record) do
      parts = []
      if @can_update
        parts << link_to("Edit", managed_routes.send(:"edit_managed_#{singular_key}_path", record),
                  class: "l-ui-button l-ui-button--outline",
                  data: { turbo_frame: "_top" })
      end
      if @can_destroy
        parts << button_to("Delete", managed_routes.send(:"managed_#{singular_key}_path", record),
                    method: :delete,
                    class: "l-ui-table__action--danger",
                    data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" })
      end
      safe_join(parts, " ")
    end
  end %>

  <div class="l-ui-utility--mt-lg">
    <%= l_ui_table(@records,
          columns: @columns,
          caption: @managed_route_key.humanize,
          query: @q,
          url: managed_routes.send(:"managed_#{@managed_route_key}_path"),
          actions: actions_proc,
          turbo_frame: turbo_frame_name) %>

    <%= l_ui_pagy(@pagy) %>
  </div>
<% end %>
