<% turbo_frame_name = "managed_#{@l_managed_resource_route_key}" %>
<% singular_key = @l_managed_resource_route_key.singularize %>

<div class="l-ui-container--spread">
  <h1 class="l-ui-heading">
    <%= @l_managed_resource_route_key.humanize %>
  </h1>

  <% if @can_create %>
    <%= link_to "New",
          send(:"new_managed_#{singular_key}_path"),
          class: "l-ui-button l-ui-button--primary" %>
  <% end %>
</div>

<%= turbo_frame_tag turbo_frame_name, data: { turbo_action: "advance" } do %>
  <% if @model.l_managed_resource_search_fields.any? %>
    <%= l_ui_search_form(@q,
          url: send(@managed_url_helper),
          fields: @model.l_managed_resource_search_fields,
          clear: true,
          turbo_frame: turbo_frame_name) %>
  <% end %>

  <% actions_proc = if @can_update || @can_destroy
    ->(record) do
      parts = []
      if @can_update
        parts << link_to("Edit", send(:"edit_managed_#{singular_key}_path", record),
                  class: "l-ui-button l-ui-button--outline",
                  data: { turbo_frame: "_top" })
      end
      if @can_destroy
        parts << button_to("Delete", send(:"managed_#{singular_key}_path", record),
                    method: :delete,
                    class: "l-ui-button l-ui-button--outline-danger",
                    data: { turbo_confirm: "Are you sure?", turbo_frame: "_top" })
      end
      safe_join(parts, " ")
    end
  end %>

  <%= l_ui_table(@records,
        columns: @columns,
        caption: @l_managed_resource_route_key.humanize,
        query: @q,
        actions: actions_proc,
        turbo_frame: turbo_frame_name) %>

  <%= l_ui_pagy(@pagy) %>
<% end %>
