<div class="l-ui-container--spread">
  <div>
    <%= l_ui_breadcrumbs do %>
      <%= l_ui_breadcrumb_item "Home", root_path %>
      <% managed_breadcrumbs.each do |crumb| %>
        <%= l_ui_breadcrumb_item crumb[:label], crumb[:path] %>
      <% end %>
      <%= l_ui_breadcrumb_item @model.model_name.human.pluralize, managed_routes.send(:"managed_#{@managed_route_key}_path") %>
    <% end %>

    <h1 class="l-ui-heading">New <%= @model.model_name.human.downcase %></h1>
  </div>

  <%= link_to "Cancel",
        managed_routes.send(:"managed_#{@managed_route_key}_path"),
        class: "l-ui-button l-ui-button--danger" %>
</div>

<div class="l-ui-utility--mt-sm">
  <%= l_ui_form(@record, fields: @fields, url: @form_url) %>
</div>
